.select01 .btn_srch{
    height: 26px;
    border: 1px solid #990000;
}


li ui{
    list-style: none;
}


.board {
    float: left;
    width: 590px;
    margin-right: 27px;
}

.boardSearch {
    position: relative;
    height: 48px;
    padding: 0 14px;
    margin-bottom: 28px;
    border: 1px solid #c9cacf;
    background: #fcfcfc;
}

.boardSearch .inputTxt{
    padding: 0;
    margin-top: 10px;
    height: 26px;
    border: 1px solid #c9cacf;
}

.photo img {
    width: 154px;
    height: 90px;
    margin-bottom: 10px;
}
.boardPhoto {
    margin-bottom: 34px;
    padding-top: 2px;
    border-top: 2px solid #4c4f55;
}
.boardPhoto li {
    position: relative;
    overflow: hidden;
    height: 1%;
    padding: 15px 14px 0;
    line-height: 16px;
    border-bottom: 1px solid #c9cacf;
}
.boardPhoto li .txt {
    float: right;
    width: calc(100% - 169px);
}

.page{
    text-align: center;
    width: 50%;
}

.pagination{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 20px;
}

.pagination li{
    display: inline;
    text-align: center;
}

.pagination a{
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding : 5px 12px;
    color : #990000;
    line-height: 1.5;
}

.first{
    margin-right: 15px;
}

.last{
    margin-left: 15px;
}

.first:hover, .last:hover, .left:hover, .right:hover{
    color:#990000
}

.pagination a.active{
    cursor: default;
    color: #ffff;
    outline: none;
}

.modal .num{
    margin-left: 3px;
    padding:0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
}

.modal .num:hover{
    background-color: #990000;
    color: #ffff;
}

.modal .num.active, .modal .num:active{
    background-color: ;
}