p{
    font-weight: bold;
    font-size: 23px;
}
.player_back{
    background-color: white;
    width: 1300px;
    height: 400px;
    border: 2px solid;
    border-color: black;
    margin : 0 auto;
    background-image: url(/img/emblem/SSG.png);
    background-repeat: no-repeat;
    background-position: 83%;
    background-size: contain;
}
.player_img img{
    width: 200px;
    height: 250px;
}
.player_img{
    border: 2px solid;
    border-color: black;
    width: 205px;
    height: 255px;
    margin-top: 130px;
    margin-left: 20px;
    float: left;
}
.player{
    margin : 260px 0 0 250px ;
}
.player p{
    margin-bottom: 5px;
}
.player-wrapper{
    width: 1300px;
    margin : 0 auto;
}
.player-record th, td{
    padding : 8.5px 5px;
	text-align: center;
    border: 1px solid;
    border-color: black;
}
.player-record table{
    margin:0 auto;
    background-color: white;
}
