#large {
    min-width: 13px;
    margin: 0 auto;
    border : 5px solid;
}
#container {
    width: 1300px;
    overflow: hidden;
    margin: 0 auto;
    min-height: 800px;
    padding: 50px 0;
    border : 5px solid;
}

#container aside {
    float: left;
    width: 175px;
    padding: 12px 0 0 14px;
    margin-right: 45px;
    border : 5px solid;
}

#container #contents {
    margin-right: 50px;
    position: relative;
    float: right;
    width: 838px;
    border : 5px solid;
}

.tab-schedule {
    width: 100%;
    border-top: 1px solid #929292;
    border-bottom: 1px solid #929292;
}

.tab-schedule li{
    list-style: none;
    float : left;
}

.tab-schedule li a {
    display: block;
    padding: 21px 20px;
    height: 100px;
    line-height: 22px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: #222;
    float: left;
    text-decoration: none;;
    }
.tab-schedule li a:hover {
    color : #fff;
    background: #990000;
    text-decoration: none;
} 

.tab-schedule li a span {
    display: block;
}

li.on a {
    background: #222;
    color: #fff;
}

a img{
    border: 0;
    vertical-align: top;
}

.date-select{
    border : 5px solid;
}

.tb1-type06{
    border : 5px solid;
    text-align: center;
}

th{
    color:black;
    background-color: #f5f5f5;
    padding: 7px 5px;
}